{% extends "Home/base.html" %}
{% load static %}
{% block title %}Home - Bayan Alharbi{% endblock %}

{% block content %}
<section class="hero-section" id="herosection">
    <div class="content-container">
        <div class="left">
            <div class="left-text">
                <h2>🌟 Let's work <br> together to create wonders ! ✨</h2>
            </div>
            <div class="boxesss">
                <div class="left-para">
                    <p>🎨 A visionary creative, crafting captivating wonders through art and design. Skilled at transforming imagination into extraordinary reality, bringing unique concepts to life with passion and precision. 🚀</p>
                </div>
                <div class="btn-box">
                    <button>💬 Let's talk</button>
                    <a href="static/assets/BAYAN_ALHARBI_CV_page-0001.jpg" target="_blank" class="resume-button">
                        <button>📄 Download My Resume</button>
                        
                    </a>
                </div>
            </div>
    </div>
</section>
{% endblock %}